.smallStatusCard {
    background-color: white;
    width: 147px;
    height: 37px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 3px;
    -webkit-box-shadow: 1px 1px 3px 0.3px #000000; 
    box-shadow: 1px 1px 3px 0.3px #000000;
}

.carStatusTitle {
    color: black;
    width: 100%;
    margin-top: -5px;
    font-size: 12px;
}

.cardStatusContent {
    width: 134px;
    height: 18px;
    background-color: #D9D9D9;
    color: #4184D3;

    -webkit-box-shadow: 0.3px 0.3px 1px 0.1px #000000;
    box-shadow: 0.3px 0.3px 1px 0.1px #000000;
}

.cardStatusContentSeparate {
    width: 65px;
    height: 18px;
    background-color: #D9D9D9;
    color: #4184D3;

    -webkit-box-shadow: 0.3px 0.3px 1px 0.1px #000000;
    box-shadow: 0.3px 0.3px 1px 0.1px #000000;
}


.separateCards {
    display: flex;
    gap: 5px;
}


.abilityCard {
    width: 147px;
    min-height: 36px;
    border-radius: 5px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 15px;
    padding-top: 5px;

    -webkit-box-shadow: 1px 1px 3px 0.3px #000000; 
    box-shadow: 1px 1px 3px 0.3px #000000;
}

.abilityTitle {
    color: black;
    font-size: 12px;
}

.ability {
    color: #4184D3;
    font-size: 14px;
    width: 134px;
    height: 26px;
    border-radius: 20px;
    background-color: #D9D9D9;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0.5px 0.8px 2px 0px rgba(0, 0, 0, 1);
}

.ability:hover {
    background-color: #c5c5c5;
}

.ability:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}
.tooltiptext img{
padding: 30px;
}

.tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: #7852EA;
    color: #fff;
    border-radius: 6px;
    padding: 0 10px 10px;
    text-align:initial;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Position the tooltip */
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -105px;
    opacity: 0;
    transition: opacity 300ms ease;
}

.tooltiptext p{
    color: white;
}

.ability .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #7852EA transparent transparent transparent;
  }